In [7]:
import pydataset as py
tips = py.data('tips')
tips.groupby('day')['smoker'].value_counts()

day   smoker
Fri   Yes       15
      No         4
Sat   No        45
      Yes       42
Sun   No        57
      Yes       19
Thur  No        45
      Yes       17
Name: smoker, dtype: int64

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1': ['a', 'a', 'b',' b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [11]:
# key1으로 묶고 각 그룹에서 data1의 평균을 구해주세요
df.groupby('key1')['data1'].mean()

key1
 b   -0.908323
a    -0.244656
b     1.044893
Name: data1, dtype: float64

In [13]:
mpg = py.data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [31]:
# class별 manufacturer의 빈도수를 구하세요
df1 = pd.crosstab(index = mpg['class'], columns = mpg['manufacturer'])
df1 = df1.reset_index()

In [40]:
# melt를 사용하여 class 별로 녹이세요
df1 = df1.melt(id_vars = 'class', value_vars = df1.columns[2:])

# pd.cut을 사용하여 value가 0-9는 few, 10-19는 many라는 새로운 열 frequency를 추가시켜라
df1['frequency'] = pd.cut(x = df1['value'], bins = [0, 9, 19], labels = ['few', 'many'])

C:\Users\admin\AppData\Local\Temp\ipykernel_2216\2755387860.py:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df1 = df1.melt(id_vars = 'class', value_vars = df1.columns[2:])

In [44]:
mpg
# manufacturer year별로 평균과 최대값을 구해보세요
mpg.groupby(['manufacturer','year']).agg(['mean', max])

C:\Users\admin\AppData\Local\Temp\ipykernel_2216\4260324760.py:3: FutureWarning: ['model', 'trans', 'drv', 'fl', 'class'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  mpg.groupby(['manufacturer','year']).agg(['mean', max])

                      displ            cyl            cty            hwy
                       mean  max      mean max       mean max       mean max
manufacturer year
audi         1999  2.355556  2.8  5.111111   6  17.111111  21  26.111111  29
             2008  2.733333  4.2  5.333333   8  18.111111  21  26.777778  31
chevrolet    1999  4.971429  6.5  7.142857   8  15.142857  19  21.571429  27
             2008  5.116667  7.0  7.333333   8  14.916667  22  22.083333  30
dodge        1999  4.318750  5.9  6.750000   8  13.375000  18  18.437500  24
             2008  4.423810  5.7  7.333333   8  12.952381  17  17.571429  24
ford         1999  4.453333  5.4  7.066667   8  13.933333  18  18.600000  26
             2008  4.660000  5.4  7.400000   8  14.100000  17  20.500000  26
honda        1999  1.600000  1.6  4.000000   4  24.800000  28  31.600000  33
             2008  1.850000  2.0  4.000000   4  24.000000  26  33.750000  36
hyundai      1999  2.300000  2.5  4.666667   6  18.333333  19  26.666667  29
             2008  2.525000  3.3  5.000000   6  18.875000  21  27.000000  31
jeep         1999  4.350000  4.7  7.000000   8  14.500000  15  18.500000  20
             2008  4.650000  6.1  7.333333   8  13.166667  17  17.333333  22
land rover   1999  4.300000  4.6  8.000000   8  11.000000  11  15.000000  15
             2008  4.300000  4.4  8.000000   8  12.000000  12  18.000000  18
lincoln      1999  5.400000  5.4  8.000000   8  11.000000  11  16.500000  17
             2008  5.400000  5.4  8.000000   8  12.000000  12  18.000000  18
mercury      1999  4.500000  5.0  7.000000   8  13.500000  14  17.000000  17
             2008  4.300000  4.6  7.000000   8  13.000000  13  19.000000  19
nissan       1999  2.900000  3.3  5.333333   6  17.666667  21  23.500000  29
             2008  3.585714  5.6  5.714286   8  18.428571  23  25.571429  32
pontiac      1999  3.566667  3.8  6.000000   6  17.000000  18  26.333333  27
             2008  4.550000  5.3  7.000000   8  17.000000  18  26.500000  28
subaru       1999  2.400000  2.5  4.000000   4  19.000000  21  25.500000  26
             2008  2.500000  2.5  4.000000   4  19.500000  20  25.625000  27
toyota       1999  2.765000  4.7  5.000000   8  18.150000  26  24.050000  35
             2008  3.221429  5.7  5.285714   8  19.071429  28  26.142857  37
volkswagen   1999  2.206250  2.8  4.625000   6  21.250000  35  29.687500  44
             2008  2.327273  3.6  4.545455   6  20.454545  22  28.545455  29

In [ ]:
mpg.pivot_table(index = ['year', 'manufacturer'], aggfunc = ['mean', 'max'])

                        mean                                        max      \
                         cty       cyl     displ        hwy       class cty
year manufacturer
1999 audi          17.111111  5.111111  2.355556  26.111111     midsize  21
     chevrolet     15.142857  7.142857  4.971429  21.571429         suv  19
     dodge         13.375000  6.750000  4.318750  18.437500         suv  18
     ford          13.933333  7.066667  4.453333  18.600000         suv  18
     honda         24.800000  4.000000  1.600000  31.600000  subcompact  28
     hyundai       18.333333  4.666667  2.300000  26.666667  subcompact  19
     jeep          14.500000  7.000000  4.350000  18.500000         suv  15
     land rover    11.000000  8.000000  4.300000  15.000000         suv  11
     lincoln       11.000000  8.000000  5.400000  16.500000         suv  11
     mercury       13.500000  7.000000  4.500000  17.000000         suv  14
     nissan        17.666667  5.333333  2.900000  23.500000         suv  21
     pontiac       17.000000  6.000000  3.566667  26.333333     midsize  18
     subaru        19.000000  4.000000  2.400000  25.500000         suv  21
     toyota        18.150000  5.000000  2.765000  24.050000         suv  26
     volkswagen    21.250000  4.625000  2.206250  29.687500  subcompact  35
2008 audi          18.111111  5.333333  2.733333  26.777778     midsize  21
     chevrolet     14.916667  7.333333  5.116667  22.083333         suv  22
     dodge         12.952381  7.333333  4.423810  17.571429         suv  17
     ford          14.100000  7.400000  4.660000  20.500000         suv  17
     honda         24.000000  4.000000  1.850000  33.750000  subcompact  26
     hyundai       18.875000  5.000000  2.525000  27.000000  subcompact  21
     jeep          13.166667  7.333333  4.650000  17.333333         suv  17
     land rover    12.000000  8.000000  4.300000  18.000000         suv  12
     lincoln       12.000000  8.000000  5.400000  18.000000         suv  12
     mercury       13.000000  7.000000  4.300000  19.000000         suv  13
     nissan        18.428571  5.714286  3.585714  25.571429         suv  23
     pontiac       17.000000  7.000000  4.550000  26.500000     midsize  18
     subaru        19.500000  4.000000  2.500000  25.625000         suv  20
     toyota        19.071429  5.285714  3.221429  26.142857         suv  28
     volkswagen    20.454545  4.545455  2.327273  28.545455  subcompact  22


                  cyl displ drv fl hwy                model       trans
year manufacturer
1999 audi           6   2.8   f  p  29           a6 quattro  manual(m5)
     chevrolet      8   6.5   r  r  27               malibu  manual(m6)
     dodge          8   5.9   f  r  24  ram 1500 pickup 4wd  manual(m5)
     ford           8   5.4   r  r  26              mustang  manual(m5)
     honda          4   1.6   f  r  33                civic  manual(m5)
     hyundai        6   2.5   f  r  29              tiburon  manual(m5)
     jeep           8   4.7   4  r  20   grand cherokee 4wd    auto(l4)
     land rover     8   4.6   4  p  15          range rover    auto(l4)
     lincoln        8   5.4   r  r  17        navigator 2wd    auto(l4)
     mercury        8   5.0   4  r  17      mountaineer 4wd    auto(l5)
     nissan         6   3.3   f  r  29       pathfinder 4wd  manual(m5)
     pontiac        6   3.8   f  r  27           grand prix    auto(l4)
     subaru         4   2.5   4  r  26          impreza awd  manual(m5)
     toyota         8   4.7   f  r  35    toyota tacoma 4wd  manual(m5)
     volkswagen     6   2.8   f  r  44               passat  manual(m5)
2008 audi           8   4.2   f  p  31           a6 quattro  manual(m6)
     chevrolet      8   7.0   r  r  30               malibu  manual(m6)
     dodge          8   5.7   f  r  24  ram 1500 pickup 4wd  manual(m6)
     ford           8   5.4   r  r  26              mustang  manual(m6)
     honda          4   2.0   f  r  36                civic  manual(m6)
     hyundai        6   3.3   f  r  31              tiburon  manual(m6)
     jeep           8   6.1   4  r  22   grand cherokee 4wd    auto(l5)
     land rover     8   4.4   4  r  18          range rover    auto(s6)
     lincoln        8   5.4   r  r  18        navigator 2wd    auto(l6)
     mercury        8   4.6   4  r  19      mountaineer 4wd    auto(l6)
     nissan         8   5.6   f  r  32       pathfinder 4wd  manual(m6)
     pontiac        8   5.3   f  r  28           grand prix    auto(s4)
     subaru         4   2.5   4  r  27          impreza awd  manual(m5)
     toyota         8   5.7   f  r  37    toyota tacoma 4wd  manual(m6)
     volkswagen     6   3.6   f  r  29               passat  manual(m6)

In [30]:
import pydataset

mpg = pydataset.data('mpg')
new_mpg = mpg.iloc[:5, 2:5]

In [52]:
# new_mpg를 배열로 바꿔주세요
new_mpg.values

array([[1.800e+00, 1.999e+03, 4.000e+00],
       [1.800e+00, 1.999e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.800e+00, 1.999e+03, 6.000e+00]])

In [53]:
# new_mpg를 딕셔너리 형태로 바꿔주세요
new_mpg.to_dict()

{'displ': {1: 1.8, 2: 1.8, 3: 2.0, 4: 2.0, 5: 2.8},
 'year': {1: 1999, 2: 1999, 3: 2008, 4: 2008, 5: 1999},
 'cyl': {1: 4, 2: 4, 3: 4, 4: 4, 5: 6}}

In [57]:
# new_mpg의 displ을 리스트 형태로 바꿔주세요
new_mpg['displ'].tolist()

# new_mpg를 리스트 형태로 바꿔주세요
new_mpg.values.tolist()

[[1.8, 1999.0, 4.0],
 [1.8, 1999.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.8, 1999.0, 6.0]]

In [75]:
# 하나의 리스트 안에 new_mpg의 것들을 넣어주세요
# new_mpg.values
li = []
new_mpg.applymap(lambda x : li.append(x))
li

[1.8, 1.8, 2.0, 2.0, 2.8, 1999, 1999, 2008, 2008, 1999, 4, 4, 4, 4, 6]

In [76]:
[y for x in new_mpg.values.tolist() for y in x ]

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [24]:
print(new_mpg.set_index(keys = 'displ', append = True ))
#          year  cyl
#   displ           
# 1 1.8    1999    4
# 2 1.8    1999    4
# 3 2.0    2008    4
# 4 2.0    2008    4
# 5 2.8    1999    6

         year  cyl
  displ
1 1.8    1999    4
2 1.8    1999    4
3 2.0    2008    4
4 2.0    2008    4
5 2.8    1999    6

In [35]:
# 그냥 하면 차이가 눈에 보이지 않을 수 있으니 displ 컬럼을 인덱스화 시켜주겠다
new_mpg.set_index(keys = 'displ', inplace=True)
print(new_mpg)
#        year  cyl
# displ           
# 1.8    1999    4
# 1.8    1999    4
# 2.0    2008    4
# 2.0    2008    4
# 2.8    1999    6

In [38]:
print(new_mpg.reset_index(drop = True))
#    year  cyl
# 0  1999    4
# 1  1999    4
# 2  2008    4
# 3  2008    4
# 4  1999    6

   year  cyl
0  1999    4
1  1999    4
2  2008    4
3  2008    4
4  1999    6

In [37]:
print(new_mpg)
#        year  cyl
# displ           
# 1.8    1999    4
# 1.8    1999    4
# 2.0    2008    4
# 2.0    2008    4
# 2.8    1999    6

       year  cyl
displ
1.8    1999    4
1.8    1999    4
2.0    2008    4
2.0    2008    4
2.8    1999    6

In [4]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.1.2-cp310-cp310-win_amd64.whl (7.4 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     -------------------------------------- 298.0/298.0 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.23.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.9.1)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.1.2 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import sklearn

print(sklearn.__version__)

1.1.2

In [5]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

iris = load_iris()

In [6]:
iris.keys()
# dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

type(iris)
# sklearn.utils._bunch.Bunch

# feature 만으로 된 데이터 numpy 를 가진 'data' 를 따로 변수에 저장
iris_data = iris['data']
iris_data

# lable 데이터 numpy를 가진 'target' 데이터를 따로 변수에 저장
iris_label = iris.target
print('target값 : ', iris_label)
print('target명 : ', iris.target_names)

target값 :  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
target명 :  ['setosa' 'versicolor' 'virginica']

In [7]:
import pandas as pd
import numpy as np

# 붓꽃 데이터 셋을 자세히 보기위해 DataFrame으로 변환
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
# 학습 데이터와 테스트 데이터를 test_size의 비율로 나누겠다.
# 0.2 = 테스트 데이터로 사용할건 전체에서 20% 이다.
# random_state = random 값을 만드는 seed 와 같은 의미. 일정한 결과를 얻기위해 필요하다
x_train, x_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size = 0.2, random_state = 1)

In [9]:
# DecisionTreeClassifier : 의사결정 트리 클래스
# random_state로 코드를 수행할 때마다 동일한 학습/예측 결과를 출력할 수 있게끔 설정한다.
dt_clf = DecisionTreeClassifier(random_state = 11)

# 학습 수행
# DecisionTreeClassifier의 fit 메서드 사용
# fit(학습용 데이터 속성, 결정값 데이터 속성)
dt_clf.fit(x_train, y_train)

DecisionTreeClassifier(random_state=11)

In [10]:
# 학습이 완료된 DecisionTreeClassifier 객체에서 test data set으로 예측을 수행한다
# DecisionTreeClassifier 객체의 predict() 메서드 이용
pred = dt_clf.predict(x_test)

In [11]:
# 예측 결과를 기반으로 의사결정 트리 DecisionTreeClassifier의 예측 성능을 평가
# 정확도를 측정할 것이다
# accuracy_score(테스트(실제) 레이블 데이터 셋, 예측 레이블 데이터 셋) 
from sklearn.metrics import accuracy_score
print('예측 정확도:{0:.4f}'.format(accuracy_score(y_test, pred)))

예측 정확도:0.9667

In [12]:
# 교차검증
from sklearn.model_selection import cross_val_score, cross_validate

iris_data1 = load_iris()

data = iris_data1.data
label = iris_data1.target

scores = cross_val_score(dt_clf, data, label, scoring = 'accuracy', cv = 3)
print('교차 검증별 정확도 : ', np.round(scores, 4))
print('평균 검증 정확도 : ', np.round(np.mean(scores), 4))

교차 검증별 정확도 :  [0.98 0.92 0.98]
평균 검증 정확도 :  0.96

In [13]:
from sklearn.model_selection import GridSearchCV

# 데이터를 로딩하고 학습데이터와 테스트 데이터 분리
iris_data2 = load_iris()

data = iris_data2.data
label = iris_data2.target

x_train, x_test, y_train, y_test = train_test_split(data, iris_data2.target, test_size=0.2, random_state=121)

# 테스트할 하이퍼 파라미터 세트는 딕셔너리 형태로
## 하이퍼파라미터의 명칭은 문자열 key 값으로, 하이퍼 파라미터의 값은 리스트형으로 설정
parameters = {'max_depth' : [1,2,3], 'min_samples_split' : [2, 3]}

In [14]:
# DecisionTreeClassifier : 의사결정 트리 클래스
dtree = DecisionTreeClassifier()

# param_grid의 하이퍼 파라미터를 3개의 train, test set fold로 나누어 테스트를 수행할 것이다
# refit = True는 기본값. 인ㄴ 가장 좋은 파라미터 설정으로 재학습 시키겠다는 옵션이다.
grid_dtree = GridSearchCV(dtree, param_grid=parameters, cv=3, refit=True)


# 학습 데이터 세트를 fit 메서드에 인자로 입력
# 학습 데이터를 (grid_dtree의) cv에 기술된 폴딩세트만큼 분할하여 param_grid에 기술된 하이퍼 파라미터를
# 순차적으로 변경하면서 학습 및 평가를 수행하고 그 결과를 cv_result 속성에 기록한다.
# 붓꽃 학습 데이터로 param_grid의 하이퍼 파라미터를 순차적으로 학습 및 평가
grid_dtree.fit(x_train, y_train)

# 결과를 추출해 DF형으로 변환
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score', 'split1_test_score', 'split2_test_score']]

print('GridSerachCV 최적의 파라미터 : ', grid_dtree.best_params_)
print(f'GridSerachCV 최고 정확도 : {grid_dtree.best_score_:.4f}')
# GridSerachCV 최적의 파라미터 :  {'max_depth': 3, 'min_samples_split': 2}
# GridSerachCV 최고 정확도 : 0.9750

GridSerachCV 최적의 파라미터 :  {'max_depth': 3, 'min_samples_split': 2}
GridSerachCV 최고 정확도 : 0.9750

In [15]:
scores_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000332,0.000470,0.000655,0.000463,1,2,"{'max_depth': 1, 'min_samples_split': 2}",0.700,0.7,0.70,0.700000,1.110223e-16,5
1,0.000333,0.000472,0.000332,0.000469,1,3,"{'max_depth': 1, 'min_samples_split': 3}",0.700,0.7,0.70,0.700000,1.110223e-16,5
2,0.000997,0.000003,0.000665,0.000470,2,2,"{'max_depth': 2, 'min_samples_split': 2}",0.925,1.0,0.95,0.958333,3.118048e-02,3
3,0.000985,0.000798,0.000675,0.000954,2,3,"{'max_depth': 2, 'min_samples_split': 3}",0.925,1.0,0.95,0.958333,3.118048e-02,3
4,0.000000,0.000000,0.000000,0.000000,3,2,"{'max_depth': 3, 'min_samples_split': 2}",0.975,1.0,0.95,0.975000,2.041241e-02,1
5,0.000331,0.000468,0.000330,0.000466,3,3,"{'max_depth': 3, 'min_samples_split': 3}",0.975,1.0,0.95,0.975000,2.041241e-02,1

In [22]:
# refit으로 이미 학습된 estimator 반환
estimator = grid_dtree.best_estimator_

pred = estimator.predict(x_test)
print('{0:.4f}'.format(accuracy_score(y_test, pred)))
# 0.9667

0.9667

In [30]:
iris_data = iris.data
iris_df = pd.DataFrame(iris_data)
iris_df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]