### pandas 복습

In [16]:
# 데이터 프레임 만들기

# 국어	영어	수학
# A	80	90	100
# B	70	80	90

import pandas as pd

pd.DataFrame([[80,90,100],[70,80,90]],
             columns = {'국어', '영어', '수학'},
             index = {'A', 'B'})

   국어  영어   수학
A  80  90  100
B  70  80   90

In [17]:
pd.DataFrame(data={'국어': [80, 70], '영어': [90, 80], '수학':[100, 90]}, index = ['A', 'B'])

   국어  영어   수학
A  80  90  100
B  70  80   90

In [18]:
# 위 dataframe 에 과학 칼럼 (90, 90)을 추가해보세요
df = pd.DataFrame(data={'국어': [80, 70], '영어': [90, 80], '수학':[100, 90]}, index = ['A', 'B'])
df['과학'] = [90, 90]
df

   국어  영어   수학  과학
A  80  90  100  90
B  70  80   90  90

In [19]:
# 수학 칼럼을 삭제해보세요
df.drop(columns='수학', inplace=True)
df

   국어  영어  과학
A  80  90  90
B  70  80  90

In [20]:
# 총점 칼럼을 추가
df['총점'] =  df['국어']+df['영어']+df['과학']
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240

In [21]:
# 행 이름이 c이고 70, 80, 90, 240인 행을 추가해보세요
df.loc['c'] = [70, 80, 90, 240]
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240
c  70  80  90  240

In [22]:
# 인덱스 명 조작
# c를 C로 변경
df.index.values[len(df)-1] = 'C'
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240
C  70  80  90  240

In [23]:
# 총점의 260을 결측치로 만들어주세요
import numpy as np

df['총점'].replace(260, np.nan, inplace=True)
df

   국어  영어  과학     총점
A  80  90  90    NaN
B  70  80  90  240.0
C  70  80  90  240.0

In [24]:
df['총점'].replace(np.nan, 260, inplace=True)
df

   국어  영어  과학     총점
A  80  90  90  260.0
B  70  80  90  240.0
C  70  80  90  240.0

In [25]:
# 평균이 85점 이상이면 A+ 그 이하면 A-로 표현하는 열을 만들어주세요
cond1 = df['총점']/3 >= 85
df['학점'] = np.where(cond1, 'A+', 'A-' )
df

   국어  영어  과학     총점  학점
A  80  90  90  260.0  A+
B  70  80  90  240.0  A-
C  70  80  90  240.0  A-

In [26]:
# 총점, 국어 점수의 오름차순으로 정렬해주세요
df.sort_values(by=['총점', '국어'])

   국어  영어  과학     총점  학점
B  70  80  90  240.0  A-
C  70  80  90  240.0  A-
A  80  90  90  260.0  A+

In [27]:
# mpg 데이터 가져오기
!pip install pydataset

import pydataset
mpg = pydataset.data('mpg')
mpg[:2]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydataset in /usr/local/lib/python3.8/dist-packages (0.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact

In [28]:
# year는 몇 년도의 값들이 있는가
mpg['year'].unique()

array([1999, 2008])

In [29]:
# 연도별 cty의 평균은
mpg.groupby(['year'])[['cty']].mean()

            cty
year
1999  17.017094
2008  16.700855

In [30]:
# 아우디의 연도별 cty의 평균은
mpg[mpg['manufacturer'] == 'audi'].groupby('year')['cty'].agg(np.mean)

year
1999    17.111111
2008    18.111111
Name: cty, dtype: float64