## pandas 복습
- 한줄짜리 : 시리즈
- 여러줄 : DataFrame

In [1]:
import pandas as pd

# [1, 2, 3] 값을 가진 시리즈를 만들어보세요
s = pd.Series([1, 2, 3])
print(s)

0    1
1    2
2    3
dtype: int64

In [2]:
# [ 1  2  3 ]
# [ 4  5  6 ]
# 위 값을 가지는 2 * 3 데이터 프레임을 만들어보세요
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
# 위 df의 칼럼 이름을 c1, c2, c3로 변경해주세요
df.columns = ['c1', 'c2', 'c3']
df

   c1  c2  c3
0   1   2   3
1   4   5   6

In [4]:
# 로우(인덱스)의 이름을 r1, r2로 넣어주세요
df.index =['r1', 'r2']
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [5]:
# 칼럼의 c2를 C2로 변경해주세요
df.rename(columns={'c2':'C2'})

    c1  C2  c3
r1   1   2   3
r2   4   5   6

In [6]:
!pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 47.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=b9fd6d5a8c3bc99e889db3925a399dab9ab892010de8649bd8b1f306368d69cf
  Stored in directory: /root/.cache/pip/wheels/d7/e5/36/85d319586b4a405d001029d489102f526ce5546248c295932a
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [7]:
import pydataset
mpg = pydataset.data('mpg')

initiated datasets repo at: /root/.pydataset/

In [8]:
# 홀수번째 칼럼과 홀수번째 로우만 뽑아보자
mpg.iloc[0::2]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize

In [9]:
# year 칼럼의 데이터 타입을 문자열로 변경해주세요
mpg['year'] = mpg['year'].astype('object')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    object
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 21.9+ KB

In [10]:
# 제조사별로 cty의평균값은
mpg.groupby('manufacturer')[['cty']].mean()

                    cty
manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926

In [11]:
# model과 year 컬럼만 추출해보세요
mpg[['model', 'year']]

      model  year
1        a4  1999
2        a4  1999
3        a4  2008
4        a4  2008
5        a4  1999
..      ...   ...
230  passat  2008
231  passat  2008
232  passat  1999
233  passat  1999
234  passat  2008

[234 rows x 2 columns]

In [12]:
# cty, hwy의 평균 연비(avg) 칼럼을 만들어주세요
mpg['avg'] = (mpg['cty'] + mpg['hwy'])/2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [13]:
df = mpg.iloc[:10, :3]
# 이 df에 [hyndai, sonato, 2.0]을 행에 추가해봅시다
# df.loc[len(df):] = 가장 마지막 인덱스에 새로운 값 붙이겠다.
df.loc[len(df):] = ['hyundai','sonata',2.0]
df

   manufacturer       model  displ
1          audi          a4    1.8
2          audi          a4    1.8
3          audi          a4    2.0
4          audi          a4    2.0
5          audi          a4    2.8
6          audi          a4    2.8
7          audi          a4    3.1
8          audi  a4 quattro    1.8
9          audi  a4 quattro    1.8
10      hyundai      sonata    2.0

In [14]:
df = mpg.iloc[:10, :3]
# temp 데이터프레임에 새로 붙여줄 값을 저장해주고 concat으로 붙여주기
# df = df.reset_index(drop=True) 는 Index를 모두 초기화한 후 0부터 재정렬 하겠다는 것
# drop=True 는 원래 인덱스를 로우로 만들어서 보관하지 않으시겠습니까? 라는 질문에 yes 한것
# False를 하면 원래 있던 인덱스가 로우로 추가된다.
data = {
    'manufacturer' : ['hyundai'],
    'model' : ['sonata'],
    'displ' : [2.0]
}

temp = pd.DataFrame(data)
df = pd.concat([df, temp]).reset_index(drop=True)
df

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0

## Confusion matrix
![image](https://user-images.githubusercontent.com/51469989/213107635-b4e57bf5-c673-4f12-b1c1-86ccfe8ffa2b.png)

Precision(정확도; P로 검출한 것 중 실제 P의 비율) = TP / (TP+FP) <BR>
TPR(True Positive Rate) = Recall(재현율; 실제 P를 P로 예측한 비율; 예측과 실제 모두 P) =TP / (TP+FN) <BR>
Accuracy(탐지율; 맞게 검출한 비율) = (TP+TN) / (TP+FN+FP+TN) <BR>
F1 Score = 2 * `Precision` * Recall / Precision + Recall
<BR><BR>
TNR(True Negative Rate; 예측과 실제 모두 N) = TN / (TN+FP) <BR>
FPR(False Positive Rate; 실제 N인데 P로 검출) = FP / (FP+TN) <BR>
FNR(False Negative Rate; 실제 P인데 N으로 검출) = FN / (TP+FN)

## 지표(metric)
모델의 성능을 측정하는 열쇠. 특히 훈련 데이터 성능과 테스트 데이터 성능의 차이를 측정하는 것이 중요하다. 분류와 회귀에 일반적으로 사용되는 지표는 `keras.metrics` 모듈에 이미 포함되어있고, 대부분의 경우에는 여기에 포함된 지표를 사용할 것이다.<br>
케라스 지표는 `keras.metrics.Metric` 클래스를 상속한 클래스이다. 층과 마찬가지로 지표는 텐서플로우 변수에 내부 상태를 저장한다.층과 다른점이라면 이 변수가 역전파로 업데이트 되지않는다는 것으로 만약, 일반적이지 않은 작업으로 사용자 정의 지표를 만들어야 한다면 상태 업데이트 로직을 `update_state()` 메서드 안에 직접 작성해야한다.

## 콜백(callbacks)
대규모 데이터셋에서 `modle.fit()`메서드를 사용하여 수십 번의 에포크를 실행하는 것은 종이비행기를 날리는 것과 엇비슷하다. 일단 손을 떠나면 종이 비행기의 경로와 착륙 지점을 제어할 방법이 없다는 점에서 특히 그러한데, 나쁜결과로 종이비행기를 낭비하지 않으려면 대신 드론을 사용해볼 수 있다. 드론은 주변 환경을 감지하고, 감지한 데이털르 조작부테 전달하며 현재 상태를 바탕으로 자동으로 운전할 수 있다.<br>
<br>
케라스의 콜백은 fit() 호출시 모델에 전달되는 객체(특정 메서드)를 구현한 클래스 객체로, fit 메서드가 스스로 판단하고 동적으로 결정하도록 도와준다. 아래는 콜백으로 사용하는 몇 가지 예이다
- 모델 체크 포인트 저장(model checkpoint save) : 훈련하는 동안 어떤 지점에서 모델의 현재 가중치를 저장할 것인가
- 조기 종료(early stopping) : validation loss가 더 이상 향상되지 않을 때 훈련을 중지한다(= 훈련하는 동안 얻은 가장 좋은 모델의 상태에 중지)
- 훈련하는 동안 하이퍼파라미터 값을 동적으로 조정 : 옵티마이저의 학습률 같은 경우
- 훈련과 검증지표를 로그에 기록하거나 모델이 학습한 표현이 업데이트될때마다 시각화 : 우리가 fit()메서드를 사용하면서 자연스레 봤던 진행표시줄이 사실은 콜백 중 하나이다.

fit()안에 넣어사용할 수 있다. <br><br>**11월 23일에 작성했던 Early stopping 부분** 참고
```python
# early_stopping 콜백 사용
model.fit(X_train, Y_train, epoch = 1000, callbacks = [early_stopping])

# 만약 여러개의 콜백을 사용하고 싶다면 리스트 안에 넣어주면 된다.

# early_stopping과 체크포인트 사용
model.fit(X_train, Y_train, epoch = 1000, callbacks = [early_stopping, checkpoint])
```

### Model Checkpoint save
- Keras 사용 모델 트레이닝 도중에 Weights(상태) 저장하기
Keras의 콜백함수인 `ModelCheckpoint`는 모델이 학습하면서 정의한 조건을 만족했을 때 Model의 weight 값을 중간 저장해준다. 학습시간이 오래걸리는 경우 모델이 개선된 validation score를 도출해낼 때마다 weight를 중간저장해줌으로 써 혹시 중간에 끊기더라도(memory overflow나 crash가 나더라도) 다시 저장된 상태를 불러와 학습을 이어 나갈 수 있기 때문에 시간을 save해줄 수 있다.

```python
import kears

modelcheckpoint = [
    keras.callbacks.ModelCheckpoint(
      filepath, monitor='val_loss', verbose=0, save_best_only=False,
      save_weights_only=False, mode='auto', save_freq='epoch', options=None, **kwargs
    )
]
```
- filepath : 추가설명으로 만약 monitor가 val_loss일 때, 모델 경로를 '{epoch:02d} - {val_loss:.5f}.h5' 라고 입력하면 '에폭 - 해당v에폭에서의 val_loss값.h5' 로 모델이 저장된다
- monitor : 모델을 저장할 때, 기준이 되는 값. 예를 들어 validation set의 loss가 가장 작을 때 저장하고 싶으면 'val_loss'를 입력
- verbose : 0, 1 -> 1일 경우 모델이 저장될때마다 '저장되었습니다'
- save_best_only : True, False -> True인 경우 모니터되고 있는 값을 기준으로 가장 좋은 값으로 모델이 저장된다. False인 경우 매 에폭마다 모델이 filepath{epoch}으로 저장된다
- save_weights_only : True, False -> True인 경우, 모델의 weights만 저장, False인 경우, 모델 레이어 및 weights 모두 저장
- mode : 'auto', 'min', 'max' -> val_acc 인 경우, 정확도이기 때문에 클수록 좋다. 따라서 이때는 max를 입력해줘야하지만, val_loss 인 경우, loss 값이기 때문에 값이 작을수록 좋기때문에 min으로 설정해줘야한다. auto로 할 경우 알아서 min, max를 판단 후 모델을 저장
- save_freq : 'epoch' 또는 integer(정수형 숫자) -> 'epoch'을 사용할 경우, 매 에폭마다 모델 저장, integer를 사용할 경우 숫자만큼의 배치가 진행 될때 모델이 저장된다. (예를 들어 숫자 8을 입력하면, 8번째 배치가 train 된 이후, 16번째 배치가 train 된 이후 저장)
- options : tf.train.CheckpointOptions를 옵션으로 줄 수 있다. 분산환경에서 다른 디렉토리에 모델을 저장하고 싶을 경우 사용
```

### ReduceLROnPlateau : 모델 성능 향상이 없을 때 Learning Rate를 낮추는 함수
```python
reduce_lr = ReduceLROnPlateau(monitor = 'val_loss', # validation loss가 이전 epoch때보다 작아지지 않으면
                              facotr=0.2,           # 0.2배 LR을 낮춰달라
                              patience = 5,         # 5번까지는 지켜보다가 낮춰달라
                              min_lr=0.001         # 단, 0.001보다는 낮아지지 않도록 해주세요
)

model.fit(X_train, Y_train, callbacks=[reduce_lr])
```

### 텐서보드를 사용한 모니터링과 시각화 콜백
텐서보드는 로컬에서 실행할 수 있는 브라우저 기반 애플리케이션으로, 훈련하는 동안 모델 안에서 일어나는 모든 것을 모니터링하기 위한 가장 좋은 방법이다. 텐서보드를 사용하여 아래와 같은 일을 수행할 수 있다.

- 훈련하는 동안 측정 지표를 시각적으로 모니터링
- 모델 구조를 시각화
- 활성화 출력과 그레이디언트의 히스토그램 그리기
- 임베딩을 3D로 표현

모델의 최종 손실 외에 더 많은 정보를 모니터링하면 모델 작동에 대한 명확한 그림을 그릴수 있고, 결국 모델을 더 빠르게 개선할 수 있다. 케라스 모델의 fit() 메서드와 함께 텐서보드를 사용하는 가장 쉬운 방법은 `keras.callbacks.TensorBoard` 콜백이다

```python
model.fit(train_images, train_labels, epochs=10,
          validation_data=(cal_images, val_labels),
          callbacks=[tensorboard])
```
모델이 실행되고 나면 지정한 위치에 로그를 기록할 것이다.